extends layout

block content
  div(class='ety' ng-controller='etyCtrl')
    h1= title
    input(type='text', placeholder='Woord hier', autofocus, name='query' ng-model='text' ng-change='fetch()' ng-minlength='3')
    h2(ng-show='term') {{term}}
    div(ng-repeat='t in terms')
      div
        a(href='/show/{{t.link}}' ng-click='show($event)') {{t.term}}
    div(ng-repeat='s in sources')
      div(class='info')
        h3(ng-bind-html='s.source | sanitize')
        div(class='lemma' ng-bind-html='s.lemma | sanitize')
